.footer {
    width: 100%;
    padding: 0px 10px;
}
.list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
}
.item {
    width: 32%;
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.25);
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 30px 60px 30px 60px;
    border-radius: 10px;
    opacity: 0px;
}
.item_manzil {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.tel {
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 41.6px;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
}
@media screen and (max-width: 1850px) {
    .item {
        padding: 20px 50px 20px 50px;
        
    }
}
@media screen and (max-width: 1800px) {
    .item {
        padding: 20px 50px 20px 50px;
        
    }
    .item_manzil{
        font-size: 22px;
    }
}
@media screen and (max-width: 1700px) {
    .item {
        padding: 20px 50px 20px 50px;
        
    }
    .item_manzil{
        font-size: 20px;
    }
    .tel {
        font-family: Inter;
        font-size: 30px;
        font-weight: 500;
        line-height: 36.6px;
        color: rgba(255, 255, 255, 1);
        margin: 0 auto;
    }
}
@media screen and (max-width: 1600px) {
    .item {
        padding: 20px 50px 20px 50px;
        
    }
    .item_manzil {
        font-size: 18px;
        font-weight: 500;
        line-height: 24.2px;
    }
    .tel {
        font-family: Inter;
        font-size: 29px;
        font-weight: 500;
        line-height: 35.6px;
        color: rgba(255, 255, 255, 1);
        margin: 0 auto;
    }
}
@media screen and (max-width: 1500px) {
    .item {
        padding: 20px 45px 20px 45px;
        
    }
    .item_manzil {
        font-size: 18px;
        font-weight: 500;
        line-height: 24.2px;
    }
    .tel {
        font-family: Inter;
        font-size: 25px;
        font-weight: 500;
        line-height: 32.6px;
        color: rgba(255, 255, 255, 1);
        margin: 0 auto;
    }
}
@media screen and (max-width: 1400px) {
    .item {
        padding: 20px 40px 20px 40px;
        
    }
    .item_manzil {
        font-size: 16px;
        font-weight: 500;
        line-height: 24.2px;
    }
    .tel {
        font-family: Inter;
        font-size: 25px;
        font-weight: 500;
        line-height: 33.6px;
        color: rgba(255, 255, 255, 1);
        margin: 0 auto;
    }
}
@media screen and (max-width: 1300px) {
    .item {
        padding: 20px 30px 20px 30px;
        
    }
    .item_manzil {
        font-size: 16px;
        font-weight: 500;
        line-height: 21.2px;
    }
     .item a{
        width: 90px;
    }
    
    .tel {
        font-family: Inter;
        font-size: 23px;
        font-weight: 500;
        line-height: 31.6px;
        color: rgba(255, 255, 255, 1);
        margin: 0 auto;
    }
}
@media screen and (max-width: 1200px) {
    .item {
        padding: 15px 20px 15px 20px;
        
    }
    .item a{
        width: 80px;
    }
    .item_manzil {
        font-size: 16px;
        font-weight: 400;
        line-height: 20.2px;
    }
    .tel {
        font-family: Inter;
        font-size: 22px;
        font-weight: 400;
        line-height: 27.6px;
        color: rgba(255, 255, 255, 1);
        margin: 0 auto;
    }
}
@media screen and (max-width: 1150px) {
    .item {
        padding: 12px 20px 12px 20px;
        
    }
    .item a{
        width: 70px;
    }
    .item_manzil {
        font-size: 15px;
        font-weight: 400;
        line-height: 20.2px;
    }
    .tel {
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 25.6px;
        color: rgba(255, 255, 255, 1);
        margin: 0 auto;
    }
}
@media screen and (max-width: 1000px) {
    .item {
        padding: 12px 18px 12px 18px;
        
    }
    .item a{
        width: 60px;
    }
    .item_manzil {
        font-size: 14px;
        font-weight: 400;
        line-height: 20.2px;
    }
    .tel {
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 25.6px;
        color: rgba(255, 255, 255, 1);
        margin: 0 auto;
    }
}
@media screen and (max-width: 900px) {
    .item {
        padding: 12px 14px 12px 14px;
        
    }
    .item a{
        width: 60px;
    }
    .item_manzil {
        font-size: 14px;
        font-weight: 400;
        line-height: 18.2px;
    }
    .tel {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 23.6px;
        color: rgba(255, 255, 255, 1);
        margin: 0 auto;
    }
}
@media screen and (max-width: 900px) {
    .item {
        padding: 12px 14px 12px 14px;
        
    }
    .item a{
        width: 80px;
    }
    .item_manzil {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.2px;
    }
    .list{
        gap: 20px;
    }
    .item:nth-child(1){
        width: 50%;
    }
    .item:nth-child(2){
        width: 50%;
    }
    .item:nth-child(3){
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .item {
        padding: 12px 14px 12px 14px;
        
    }
    .item a{
        width: 60px;
    }
    .item_manzil {
        font-size: 14px;
        font-weight: 400;
        line-height: 18.2px;
    }
    .list{
        gap: 20px;
    }
    .item:nth-child(1){
        width: 50%;
    }
    .item:nth-child(2){
        width: 50%;
    }
    .item:nth-child(3){
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .item {
        padding: 12px 14px 12px 14px;
        
    }
    .item a{
        width: 50px;
    }
    .item_manzil {
        font-size: 12px;
        font-weight: 300;
        line-height: 17.2px;
    }
    .list{
        gap: 20px;
    }
    .item:nth-child(1){
        width: 50%;
    }
    .item:nth-child(2){
        width: 50%;
    }
    .item:nth-child(3){
        display: none;
    }
}
@media screen and (max-width: 540px) {
    .item {
        padding: 12px 16px 12px 16px;
        
    }
   
    .item_manzil {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 21.2px;
    }
   
    .item:nth-child(1){
        display: none;
    }
    .item:nth-child(2){
        width: 100%;
    }
    .item:nth-child(3){
        display: none;
    }
}


